<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gaegu&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/category.css' %}">
    <title>Community</title>
    <style>
        p {
            color: red;
        }
    </style>
</head>
<body>
    <h1>글 추가</span></h1>
    <p>{% if error.state %}
    {{error.msg}}
    {% endif %}
    </p>
    {% if category_pk <= 6 and category_pk >= 0 %}
    <form action="{% url 'add' category_pk %}" method="POST">
        {% csrf_token %}      <!--git에 올릴 때 지우기-->
        <label for="category_pk">카테고리</label>
       
        <select name="category_pk" id="category_pk">
            {% for category in categories %}
            {% if category.pk == category_pk %}
            <option selected>{{category}}</option>
            {% else %}
            <option value="{{category.pk}}">{{category}}</option>
            {% endif %}
            {% endfor %}
        </select>     
                       
        <br><br>
        <label for="title">제목</label>    
        <input id="title" type="text" placeholder="제목을 입력하세요" name="title"><br><br>
        <label for="writer">작성자</label>
        <input id="writer" type="text" placeholder="이름을 입력하세요" name="writer"><br><br>
        <label for="contents">내용</label><br>
        <textarea id="contents" cols="30" rows="10" name="contents"></textarea><br>
        <button type="submit">완료</button>
    </form>
    {% else %}
    <form action="{% url 'add' category_pk %}" method="POST">
        {% csrf_token %}      <!--git에 올릴 때 지우기-->
        <label for="category_pk">카테고리</label>
       
        <select name="category_pk_home" id="category_pk">
            <option selected>카테고리를 선택하세요.</option>
            {% for category in categories %}
            <option value="{{category.pk}}">{{category}}</option>
            {% endfor %}
        </select>     
                       
        <br><br>
        <label for="title">제목</label>    
        <input id="title" type="text" placeholder="제목을 입력하세요" name="title"><br><br>
        <label for="writer">작성자</label>
        <input id="writer" type="text" placeholder="이름을 입력하세요" name="writer"><br><br>
        <label for="contents">내용</label><br>
        <textarea id="contents" cols="30" rows="10" name="contents"></textarea><br>
        <button type="submit">완료</button>
    </form>
    {% endif %}
</body>
</html>