<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gaegu&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/category.css' %}">
    <title>Community</title>
    <style>
        a {
            color: black;
            background-color: lightcoral;            
        }
    </style>
</head>
<body>
    <h1>Category : <span class="heading">{{article.category}}</span></h1>
    제목 : {{article.title}}  <br>
    작성자 : {{article.writer}} <br>
    일자 : {{article.date}} <br>
    내용 : {{article.contents}}<br>

    {% if user == article.writer %}
    <a href="{% url 'edit' article.pk %}">수정하기</a>
    <a onclick="return confirm('정말 삭제하시겠습니까?');" href="{% url 'delete' article.pk %}">삭제하기</a>
    {% endif %}
    <a href="{% url 'category' article.category.pk %}">뒤로</a>
    
    <article>
        <h1>댓글</h1>
        <ul>
            {% for comment in comments%}
            {% if article.writer == comment.writer %}
            <li>
                <a href="{% url 'profile_detail' comment.writer.pk %}">작성자님</a> : {{comment.contents}}
                <form action="{% url 'likecomment' comment.pk %}" method="POST">
                    {% csrf_token %}
                    <button type=submit>좋아요</button>
                </form>
            </li>
            {% else %}
            <li>
                <a href="{% url 'profile_detail' comment.writer.pk %}">{{comment.writer}}님</a>: {{comment.contents}}
                <form action="{% url 'likecomment' comment.pk %}" method="POST">
                    {% csrf_token %}
                    <button type=submit>좋아요</button>
                </form>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        <form action="{% url 'comment' article.pk %}" method="POST">
            {% csrf_token %}
            <input type="text" placeholder="댓글을 입력하세요." name="comment"/>
            <button>등록</button>
        </form>
    </article>

</body>
</html>