<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gaegu&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/category.css' %}">
    <title>Community</title>
    <style>
        a {color: black; background-color: lightcoral;}
        form { display:inline-block;}
        .tag { display:inline-block;}

    </style>
</head>
<body>
    <h1>Category : <span class="heading">{{article.category}}</span></h1>
    제목 : {{article.title}}  <br>
    작성자 : {{article.writer}} <br>
    일자 : {{article.date}} <br>
    내용 : {{article.contents}}<br>

    {% if user == article.writer %}
    <a href="{% url 'edit' article.pk %}">수정하기</a>
    <a onclick="return confirm('정말 삭제하시겠습니까?');" href="{% url 'delete' article.pk %}">삭제하기</a>
    {% endif %}

    <article>
        <h1>태그</h1>
        <ul>
            {% for tag in tags %}
            <li class="tag"><a href="{% url 'tag-detail' tag.pk %}">{{tag.name}}</a></li>
            {% endfor %}
        </ul>
        {% if user == article.writer %}
        <form action="{% url 'tag' article.pk %}" method="POST">
            {% csrf_token %}
            <input type="text" placeholder="태그를 입력하세요" name="tag">
            <button>등록</button>
        </form>
        {% endif %}
    </article>

    <article>
        <h1>댓글</h1>
        <ul>
            {% for comment in comments%}
            {% if article.writer == comment.comment.writer %}
            <li>
                {% if user == comment.comment.writer %}
                <a href="{% url 'profile_detail' comment.comment.writer.pk %}">작성자님</a> : {{comment.comment.contents}}
                {% else %}
                <a href="{% url 'profile_detail' comment.comment.writer.pk %}">작성자님</a> : {{comment.comment.contents}}
                <form action="{% url 'likecomment' comment.comment.pk %}" method="POST">
                    {% csrf_token %}
                    {% if comment.is_liked %}
                    <button type=submit>좋아요 취소 : {{comment.count_of_likes}}</button>
                    {% else %}
                    <button type=submit>좋아요 : {{comment.count_of_likes}}</button>
                    {% endif %}
                </form>
                {% endif %}
            </li>
            {% else %}
            <li>
                {% if user == comment.comment.writer %}
                <a href="{% url 'profile_detail' comment.comment.writer.pk %}">{{comment.comment.writer}}님</a>: {{comment.comment.contents}}
                {% else %}
                <a href="{% url 'profile_detail' comment.comment.writer.pk %}">{{comment.comment.writer}}님</a>: {{comment.comment.contents}}
                <form action="{% url 'likecomment' comment.comment.pk %}" method="POST">
                    {% csrf_token %}
                    {% if comment.is_liked %}
                    <button type=submit>좋아요 취소: {{comment.comment.like_comment.user.all | length }}</button>
                    {% else %}
                    <button type=submit>좋아요 : {{comment.comment.like_comment.user.all | length }}</button>
                    {% endif %}
                </form>
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <form action="{% url 'comment' article.pk %}" method="POST">
            {% csrf_token %}
            <input type="text" placeholder="댓글을 입력하세요." name="comment"/>
            <button>등록</button>
        </form>
    </article>
    <br/>
    <a href="{% url 'category' article.category.pk %}">뒤로</a>
    
</body>
</html>