<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gaegu&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/category.css' %}">
    <title>Community</title>
    <style>
       
    </style>
</head>
<body>
    <h1>글 수정</h1>
    <p>{% if error.state %}
    {{error.msg}}
    {% endif %}
    </p>
    <form action="{% url 'edit' article_pk %}" method="POST">
        {% csrf_token %}      
        <label for="title">제목</label>
        <input id="title" type="text" placeholder="제목을 입력하세요" name="title" value="{{article.title}}"><br><br>
        <label for="writer">작성자</label>
        <input id="writer" type="text" placeholder="이름을 입력하세요" name="writer" value="{{article.writer}}"><br><br>
        <label for="contents">내용</label><br>
        <textarea id="contents" cols="30" rows="10" name="contents" >{{article.contents}}</textarea><br>
        <button type="submit">수정</button>
    </form>
</body>
</html>