<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gaegu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <h1>Home <span class="count">카테고리 갯수:{{category_len}}</span> </h1>
    {% if user.is_authenticated %}
    <a href="{% url 'signup' %}">로그아웃</a>
    <ul>
        {% for category in categories %}
        <li>
            <a href="{% url 'category' category.pk %}">{{category}}</a>
        </li>
        {% endfor %}
    </ul> 
    <a href="{% url 'add' category_pk %}" class="write">글쓰기</a>

    {% else %}
    <a href="{% url 'signup' %}">회원가입 GoGo</a>
    {% endif %}
</body>
</html>