<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <title>Community</title>
</head>
<body>
    <h1>Home</h1> 
    <ul>
        {% for category in category_list %}
        <li>{{category}}</li>
        {% endfor %}
    </ul> 
</body>
</html>