body {
    font-family: 'Gaegu', cursive;
    font-size: 16px;
}

a {
    color: lightcoral;
    text-decoration: none;
}

.count {
    font-size: 14px;
}

.greeting {
    color: darkgreen;
}

.write {
    position: relative;
    left: 200px;
    color: black;
    background-color: lightcoral;
}
